@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-size: clamp(10px, 0.666vw, 20px); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white text-[#121212] dark:bg-[#121212] dark:text-[#f0f0f0];
  font-family:
    'Mona Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
}
